<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kronos.practica2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.ActividadDetalle"
            android:label="@string/title_activity_detalle" >
        </activity>
        <activity
            android:name=".actividad.ActividadModificarAddHabitacion"
            android:label="@string/title_activity_anadir_modificar_habitacion" >
        </activity>
        <activity
            android:name=".actividad.ActividadModificarAddTipoHabitacion"
            android:label="@string/title_activity_actividad_tipo_habitacion" >
        </activity>
    </application>

</manifest>
